/* https://github.com/massif-press/compcon/blob/49112b16e180d0314a4ea8a65b5026e8d0bc63ec/src/ui/style/typography.css#L216 */

.horus--subtle {
    animation: distort-subtle 5s infinite;
}

@keyframes distort-subtle {
    25% {
      text-shadow: none;
    }
    26% {
      text-shadow: 2px -1px #ff0000, -2px 3px #00ffff;
    }
    27% {
      text-shadow: -2px -3px #ff0000, 2px 1px #00ffff;
    }
    28% {
      text-shadow: 2px 1px #ff0000, -4px 1px #00ffff;
    }
    29% {
      text-shadow: -4px 1px #ff0000, -2px -1px #00ffff;
    }
    30% {
      text-shadow: none;
    }
    75% {
      text-shadow: none;
    }
    76% {
      text-shadow: -4px 1px #ff0000, -2px -1px #00ffff;
    }
    77% {
      text-shadow: -2px -3px #ff0000, 2px 1px #00ffff;
    }
    78% {
      text-shadow: 2px -1px #ff0000, -2px 3px #00ffff;
    }
    79% {
      text-shadow: 2px 1px #ff0000, -4px 1px #00ffff;
    }
    80% {
      text-shadow: none;
    }
}